//Chamada para fontes
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import 'fonts';




/**
*  Variaveis
**/

//Fonte BEBAS NEUE
$bold: 'bebas_neuebold';
$book: 'bebas_neuebook';
$regular: 'bebas_neue_regularregular';

//Fonte MONTSERRAT
$normal: 'Montserrat', sans-serif;


//Tempo para as animações padrão
$time_animation: 1s;

/* Início das regras */
body{
min-height: 100%;
font-size: 14px;
color: #727272;
font-family: Arial;
font-family: $bold;
}
img, video, embed, iframe, code{
max-width: 100%
}
hr{
width: 100%;
display: block;
float: left;
border: none;
background: transparent;
height: 0;
border-bottom: 1px solid #ddd;
}
html *, html *:after, html *:before{
box-sizing: inherit;
}
html{
box-sizing: border-box;
}




/* Estilos Default */
.row{
display: block;
float: left;
width: 100%;
}
.content{
display: block;
width: 96%;
margin: 0 auto;
max-width: 1920px;
}

.title-default{
font-family: $book;
color: #000;
font-size: 70px;
text-align: center;
text-transform: uppercase;
letter-spacing: 6px;
padding: 88px 20px;
}
.square{
position: relative;
width: 50%;		/* desired width */
}
.square:before{
content: "";
display: block;
padding-top: 100%; 	/* initial ratio of 1:1*/
}
.inner-square{
position:  absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}
/**
* Topo
*/
.header{
@extend .row;
height: 60px;
}
.header-content{
width: 96%;
margin: 0 auto;
}
.logo{
float: left;
height: 27px;
width: 51px;
margin: 16px 0;
position: relative;
z-index: 1;
background: url('../images/etc/sprite.png') no-repeat -99999px -99999px;
&:hover{
	img{
		opacity: 0;
	}
	animation: logo $time_animation infinite step-end;
}
}
.menu{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 60px;
text-align: center;
li{
	display: inline-block;
	margin: 20px 2%;
	a{
		display: inline-block;
		font-size: 20px;
		color: #898989;
		font-family: $book;
		&:hover, &.active{
			color: #000;
			text-decoration: none;
			animation: menu $time_animation infinite step-end;
		}
		strong{
			font-weight: normal;
			font-family: $bold;
		}
	}
}
}
.top-social{
float: right;
width: auto;
position: relative;
z-index: 1;
margin-top: 12px;
li{
	float: left;
	margin: 10px;
	display: inline-block;
	a{
		height: 16px;
		width: 16px;
		display: inline-block;
		&.facebook-top{
			background: url('../images/etc/sprite.png') no-repeat 0 -380px;
			&:hover{
				animation: topFacebook $time_animation infinite step-end;
			}
		}
		&.instagram-top{
			background: url('../images/etc/sprite.png') no-repeat -17px -380px;
			&:hover{
				animation: topInstagram $time_animation infinite step-end;
			}
		}
		&.youtube-top{
			background: url('../images/etc/sprite.png') no-repeat -34px -380px;
			&:hover{
				animation: topYoutube $time_animation infinite step-end;
			}
		}
	}
}
}










/**
*  Rodape
**/

.footer{
@extend .row;
padding: 40px;
text-align: center;
}
.social-footer{
@extend .row;
text-align: center;
ul{
	@extend .row;
	text-align: center;
	li{
		display: inline-block;
		margin: 23px;
		a{
			width: 32px;
			height: 32px;
			&.facebook-footer{
				background: url('../images/etc/sprite.png') no-repeat 0 0;
				display: block;
				&:hover{
					animation: footerFacebook $time_animation infinite step-end;
				}
			}
			&.instagram-footer{
				background: url('../images/etc/sprite.png') no-repeat  -42px 0;
				display: block;
				&:hover{
					animation: footerInstagram $time_animation infinite step-end;
				}
			}
			&.youtube-footer{
				background: url('../images/etc/sprite.png') no-repeat -84px 0;
				display: block;
				&:hover{
					animation: footerYoutube $time_animation infinite step-end;
				}
			}
		}
	}
}
}
//Animações das redes sociais do logo
@keyframes logo {
10%  {background-position: -65px -378px}
20%  {background-position: -65px -420px}
30%  {background-position: -65px -461px}
40%  {background-position: -65px -503px}
50%  {background-position: -65px -544px}
60%  {background-position: -65px -586px}
70%  {background-position: -65px -627px}
80%  {background-position: -65px -669px}
90%  {background-position: -65px -710px}
100% {background-position: -65px -752px}
}

//Animações das redes sociais do rodapé

@keyframes footerFacebook {
10%  {background-position: 0px 0px}
20%  {background-position: 0px -38px}
30%  {background-position: 0px -77px}
40%  {background-position: 0px -115px}
50%  {background-position: 0px -153px}
60%  {background-position: 0px -192px}
70%  {background-position: 0px -230px}
80%  {background-position: 0px -268px}
90%  {background-position: 0px -307px}
100% {background-position: 0px -345px}
}
@keyframes footerInstagram {
10%  {background-position: -42px 0px}
20%  {background-position: -42px -38px}
30%  {background-position: -42px -77px}
40%  {background-position: -42px -115px}
50%  {background-position: -42px -153px}
60%  {background-position: -42px -192px}
70%  {background-position: -42px -230px}
80%  {background-position: -42px -268px}
90%  {background-position: -42px -307px}
100% {background-position: -42px -345px}
}
@keyframes footerYoutube {
10%  {background-position: -84px 0px}
20%  {background-position: -84px -38px}
30%  {background-position: -84px -77px}
40%  {background-position: -84px -115px}
50%  {background-position: -84px -153px}
60%  {background-position: -84px -192px}
70%  {background-position: -84px -230px}
80%  {background-position: -84px -268px}
90%  {background-position: -84px -307px}
100% {background-position: -84px -345px}
}

//Animações das redes sociais do topo

@keyframes topFacebook {
10%  {background-position: 0px -380px}
20%  {background-position: 0px -397px}
30%  {background-position: 0px -414px}
40%  {background-position: 0px -431px}
50%  {background-position: 0px -448px}
60%  {background-position: 0px -465px}
70%  {background-position: 0px -482px}
80%  {background-position: 0px -499px}
90%  {background-position: 0px -516px}
100% {background-position: 0px -533px}
}
@keyframes topInstagram {
10%  {background-position: -17px -380px}
20%  {background-position: -17px -397px}
30%  {background-position: -17px -414px}
40%  {background-position: -17px -431px}
50%  {background-position: -17px -448px}
60%  {background-position: -17px -465px}
70%  {background-position: -17px -482px}
80%  {background-position: -17px -499px}
90%  {background-position: -17px -516px}
100% {background-position: -17px -533px}
}
@keyframes topYoutube {
10%  {background-position: -34px -380px}
20%  {background-position: -34px -397px}
30%  {background-position: -34px -414px}
40%  {background-position: -34px -431px}
50%  {background-position: -34px -448px}
60%  {background-position: -34px -465px}
70%  {background-position: -34px -482px}
80%  {background-position: -34px -499px}
90%  {background-position: -34px -516px}
100% {background-position: -34px -533px}
}


//Animações do menu
// @keyframes menu{
// 	10%  {}
// 	20%  {}
// 	30%  {}
// 	40%  {}
// 	50%  {}
// 	60%  {}
// 	70%  {}
// 	80%  {}
// 	90%  {}
// 	100% {}
// }


.footer-address{
text-align: center;
width: 100%;
padding: 40px;
display: inline-block;
color: #555555;
p{
	line-height: 14px;
}
}
.rights{
color: #acacac;
text-align: center;
width: 100%;
display: inline-block;
font-size: 11px;
padding-bottom: 40px;
letter-spacing: 1px;
}






/**
 *	Home
 **/
 .roulette{
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	background: #000;
 	z-index: 999;
 }
 .item-roulette{
 	position: fixed;
 	width: 100%;
 	height: 100%;
 	background-size: cover;
 	background-position: center center;
 	display: none;
 }











/* Fazer Inspira */
.fazer-inspira{
@extend .row;
text-align: center;
padding: 108px 0;
background-repeat: no-repeat;
background-position: left center;
}
.title-inspira{
font-size: 45px;
color: #000;
letter-spacing: 2px;
line-height: 54px;
}
.subtitle-inspira{
display: inline-block;
border: 3px solid #000;
padding: 33px;
font-family: $normal;
font-weight: bold;
font-size: 64px;
color: #000;
margin: 54px;
}
.text-fazemos{
font-family: $normal;
color: #000;
font-size: 20px;
display: block;
margin: 0 auto;
width: 60%;
line-height: 36px;
padding-bottom: 60px;
}


/* O que fazemos */
.title-fazemos{
@extend .title-default;
}
.o-que-fazemos, .para-quem-fazemos{
.list{
	@extend .row;
	li{
		@extend .square;
		display: block;
		float: left;
		width: 25%;
		overflow: hidden;
		border: 0;
		a{
			@extend .inner-square;
			padding: 0 10%;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
}
@media screen and(max-width: 960px) {
.list{
	li{
		width: 50%!important;
	}
}
}
.content-inner{
display: table;
height: 100%;
width: 100%;
}
.center-text{
display: table-cell;
vertical-align: middle;
text-align: center;
height: 100%;
width: 100%;
position: relative;
}
.title-list{
font-family: $book;
font-size: 28px;
color: #000;
text-transform: uppercase;
padding: 20px;
}
.text-list{
color: #898989;
font-family: $normal;
line-height: 16px;
}
.silver{
background: #ebebeb;
}




/**
*  Para quem fazemos
**/
.para-quem-fazemos{

}
.img-fazemos{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.img-fazemos-content{
	padding: 0!important;
	&:hover{
		.img-fazemos{
			&:last-child{
				opacity: 0;
			}
		}
	}
}

.list-costumers{
	@extend .row;
	li{
		float: left;
		display: block;
		width: 25%;
		position: relative;
		a{
			@extend .row;
			img{
				float: left;
				&:first-child{
					display: none;
				}
			}
			&:hover{
				img{
					display: none;
					&:first-child{
						display: block;
					}
				}
			}
		}
	}
}

.content-link-load{
	@extend .row;
	padding: 40px 0;
	background: #000;
	position: relative;
	text-align: center;
}
.load-button{
	display: inline-block;
	padding: 16px 60px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	border: 1px solid #fff;
	font-family: $book;
	position: relative;
	overflow: hidden;
	&:after{
		content: attr(data-text);
		position: absolute;
		bottom: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		transition: all 0.2s ease;
		padding: 16px 60px;
	}
	&:hover{
		color: #000;
		&:after{
			bottom: 0;
		}
		text-decoration: none;
	}
}

/**
* Faça com a gente
*/
.contact{
	@extend .row;
}
.title-contact{
	@extend .title-default;
}
.contact-form{
	display: block;
	margin: 0 auto;
	width: 720px;
	@extend .clearfix;
}
.select-subject{
	@extend .row;
	height: 50px;
	border: 1px solid #c9c8c7;
	padding: 0 0 0 10px;
}
.label-select{
	margin: 14px 0px;
	float: left;
	width: 32%;
	text-transform: uppercase;
	color: #000;
	font-size: 20px;
	font-family: $regular;
}
.cover-select{
	float: left;
	width: 68%;
	height: 100%;
	text-transform: uppercase;
	color: #000;
	font-size: 20px;
	font-family: $regular;
	select, select option{
		font-family: inherit;
		color: inherit;
		max-width: 100%;
		overflow: hidden;
		font-size: 20px;
		color: #000;
		height: 100%;
		font-family: $regular;
	}
}
.row-inputs{
	margin-left: -10px;
	margin-right: -10px;
}
.input-text-big{
	padding: 5px;
	float: left;
	width: 100%;
	position: relative;
}
.input-text{
	padding: 5px;
	float: left;
	width: 33.3%;
	position: relative;
	input{
		border: 1px solid #c9c8c7;
		width: 100%;
		height: 50px;
		padding: 10px;
		text-transform: uppercase;
		color: #000;
		font-size: 20px;
		font-family: $regular;
	}
}
::placeholder{
	color: #000;
	line-height: 22px;
	font-size: 20px;
}
.label-contact{
	@extend .row;
	text-transform: uppercase;
	color: #000;
	font-size: 20px;
	font-family: $regular;
	text-align: center;
	padding: 30px;
}
.row-send{
	text-align: center;
}
.input-send{
	display: inline-block;
	padding: 0 100px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #c9c8c7;
	font-size: 20px;
	font-family: $regular;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	input{
		font: inherit;
		height: 100%;
		width: 100%;
		text-align: center;
	}
	&:after{
		content: attr(data-text);
		position: absolute;
		bottom: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		transition: all 0.2s ease;
		padding: 16px 60px;
		line-height: 20px;
	}
	&:hover{
		color: #fff;
		&:after{
			bottom: 0;
			color: #fff;
		}
		text-decoration: none;
	}
}
.textarea-contact{
	@extend .row;
	height: 180px;
	padding: 5px;
	position: relative;
	textarea{
		border: 1px solid #c9c8c7;
		width: 100%;
		height: 100%;
		padding: 10px;
		font-size: 20px;
		text-transform: uppercase;
		font-family: $regular;
	}
}
.info-contact{
	@extend .row;
	text-align: center;
	color: #898989;
	font-size: 18px;
	line-height: 24px;
	font-family: $normal;
}
.label-contact-end{
	@extend .label-contact;
	padding-top: 60px;
	padding-bottom: 10px;
}
.map{
	margin: 60px 0;
	@extend .row;
	height: 562px;
}
.gm-style{
	img{
		max-width: none!important;
	}
}




/**
 *	Trabalhos
 **/
 .trabalhos{
 	@extend .row;
 	text-align: center;
 	padding: 80px 0;
 }

.title-trabalhos{
	border: 3px solid #000;
	font-family: $bold;
	font-size: 45px;
	padding: 16px 40px;
	margin: 20px 0;
	display: inline-block;
	color: #000;
	letter-spacing: 2px
}
.type{
	@extend .row;
	line-height: 24px;
	font-size: 12px;
	color: #898989;
	font-family: $normal;
	text-transform: uppercase;
}
.description-trabalhos{
	@extend .clearfix;
	width: 80%;
	margin: 60px auto 30px;
	max-width: 960px;
	line-height: 26px;
	color: #000;
	font-size: 16px;
	font-family: $normal;
}
.list-figures{
	@extend .row;
}
.repeat-items-figure{
	@extend .row;
}
.box-video{
	@extend .square;
	width: 80%;
	max-width: 960px;
	display: inline-block;
	&:before{
		padding-top: 56.25%;
	}
	iframe{
		@extend .inner-square;
		width: 100%;
		height: 100%;
	}
}