
/**
 * Classes do campo File_Upload
 */

.file_upload {
	float: left;
}

.file_upload .files {
	padding-left: 0 !important;
	float: left;
}

.file_upload .files .context {
	position: relative;
	float: left;
	margin: 2px;
	list-style: none;
}

.file_upload .files .context .remove-file {
	cursor: pointer;
	display: none;
	color: #D65C4F;
	position: absolute;
	right: 3px;
	top: 3px;
	font-size: 10px;
}
.file_upload .files .context:hover .remove-file {
	display: block;
}

.file_upload .files .context .canvas {
	position: absolute;
	z-index: 0;
	background: #DDD;
	border-radius: 2px;
}

.file_upload .files .context .progress {
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom: 0;
}